@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bevestiging van registratie";
}

<h1>@ViewData["Title"]</h1>
@{
<p>
        Controleer uw email om uw account te verifiëren, het is mogelijk dat de mail in uw spam staat.
</p>
}
