@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonsgegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Uw account bevat persoonsgegevens die u ons heeft gegeven. Deze pagina geeft u de mogelijkheid deze data op te vragen of te verwijderen.</p>
        <p>
            <strong>Het verwijderen van uw data zal er toe leiden dat uw account permanent wordt verwijderd.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Verwijder</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}