@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<h2>1) Waarborgen Privacy</h2>
<p>
    Het waarborgen van de privacy van bezoekers van BuurtApplicatie3D is een belangrijke taak voor ons. Daarom beschrijven we in onze privacy policy welke informatie we verzamelen en hoe we deze informatie gebruiken.
</p>

<h2>2) Soort informatie dat wij verzamelen</h2>
<p>
    Om het gebruik van onze diensten goed te laten verlopen, verzamelen wij uw adres en e-mailadres.
</p>
<div class="d-flex flex-column mb-2">
    <span>Wij gebruiken <a href="https://www.pdok.nl/introductie/-/article/pdok-locatieserver">de Locatieserver van PDOK</a> om met uw postcode en huisnummer te verifiëren dat u daadwerkelijk in Waldeck woont.</span>
    <span>Uw e-mailadres gebruiken wij enkel om u te identificeren.</span>    
</div>
<p>Bij het maken van een privé melding slaan wij de titel, inhoud en eventuele afbeelding hiervan op. Met pseudonimisatie ontkoppelen wij deze melding van u. Deze melding is vervolgens alleen in te zien door medewerkers van de gemeente Den Haag.</p>

<h2>3) Toestemming</h2>
<p>
    Door de informatie en de diensten op BuurtApplicatie3D te gebruiken, gaat u akkoord met onze privacy policy en de voorwaarden die wij hierin hebben opgenomen.
</p>

<h2>4) Uw rechten</h2>
<div class="d-flex flex-column">
    <span>U heeft te alle tijden de mogelijkheid om de gegevens die wij van u verzamelen in te zien.</span>
    <span>Als u wenst om geen gebruik meer te maken van onze diensten, heeft u de mogelijkheid om uw account te verwijderen.</span>
    <span><a asp-area="Identity" asp-page="/Account/Manage/PersonalData">Op deze pagina</a> kunt u uw door ons verzamelde gegevens downloaden of uw account verwijderen op</span>
</div>

<h2>5) Vragen</h2>
<p>
    Als u meer informatie wilt ontvangen, of vragen hebt over de privacy policy van BuurtApplicatie3D, kunt u ons benaderen via e-mail, deze is onderaan elke pagina te vinden.
</p>
